#npm install -g expo-cli

#expo init AwesomeProject

cd AwesomeProject
#npm start # you can also use: expo start


npm install @react-navigation/native

expo install react-native-gesture-handler react-native-reanimated react-native-screens react-native-safe-area-context @react-native-community/masked-view

#npm install react-native-elements

#npm install @react-navigation/stack

npm install --save firebase